name: Build and deploy docs
on:
  push:
    branches:
      - "**"
      - "!gh-pages"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Set Sphinx targets to build
        run: |
          if [ "${{ github.ref }}" = "refs/heads/master" ]; then
              echo "SPHINX_TARGETS=html latex" >> $GITHUB_ENV
          else
              echo "SPHINX_TARGETS=html" >> $GITHUB_ENV
          fi
      - name: Build Sphinx docs
        uses: ammaraskar/sphinx-action@master
        with:
          docs-folder: "."
          build-command: make ${{ env.SPHINX_TARGETS }}
      - name: Upload HTML as artifact
        uses: actions/upload-artifact@v2
        with:
          name: html
          path: build/html
      - if: ${{ github.ref == 'refs/heads/master' }}
        name: Upload LaTeX as artifact
        uses: actions/upload-artifact@v2
        with:
          name: latex
          path: build/latex
  build-pdf:
    if: ${{ github.ref == 'refs/heads/master' }}
    needs: build
    runs-on: ubuntu-latest
    container:
      image: harrymander/latex:latest
    steps:
      - name: Download LaTeX source
        uses: actions/download-artifact@v2
        with:
          name: latex
          path: latex
      - name: Create PDF from LaTeX docs
        run: make -C latex
      - name: Upload PDF as artifact
        uses: actions/upload-artifact@v2
        with:
          name: pdf
          path: latex/*.pdf
  deploy:
    if: ${{ github.ref == 'refs/heads/master' }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download HTML
        uses: actions/download-artifact@v2
        with:
          name: html
          path: html
      - name: Publish to GitHub pages
        uses: JamesIves/github-pages-deploy-action@v4.2.2
        with:
          branch: gh-pages
          folder: html
