name: Build and deploy docs
on:
  push:
    branches:
      - "**"
      - "!gh-pages"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build Sphinx docs
        uses: ammaraskar/sphinx-action@master
        with:
          docs-folder: "."
          build-command: "sphinx-build -b html source build"
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: docs
          path: build
      - name: Publish to GitHub pages
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: JamesIves/github-pages-deploy-action@v4.2.2
        with:
          branch: gh-pages
          folder: build
